@import '../../colors.css';

button.scroll {
display: block;
background-color: var(--color-light-bg);
border: solid 1px black;
border-radius: 50%;
width: 100px;
height: 100px;
margin-bottom: 5rem;
color: var(--color-dark-bg);
transition-property: border, color, box-shadow;
transition-duration: 0.2s;
transition-timing-function: ease-out;
}

button.scroll:hover {
    border: solid 2px var(--color-dark-secondary);
    color: var(--color-light-secondary);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}